{% extends "blog/base.html" %}

{% block title %}My Blog{% endblock %}

{% block content %}
  <h1>Кратко о ЯПах</h1>
  {% for post in posts %}
  <div class="post">
    <h2>
      <a href="{% url 'blog:post_detail' post.id %}">
        {{ post.title }}
      </a>
    </h2>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    {% autoescape off %}
      {{ post.body|truncatewords:30|linebreaks }}
    {% endautoescape %}
  </div>
  {% endfor %}
  <script>
    const allImages = document.querySelectorAll("img");
    console.log(allImages);
    // console.log("123");
    for (let i = 0;i < allImages.length;i++){
        allImages[i].style = "display: block; margin-bottom: 15px";
        console.log("done");
    }
    </script>
{% endblock %}
